<%- include('./partials/head') %>

<%- include('./partials/zones') %>
    
    <section class="book">
        <h2>Book</h2>
    </section>

<%- include('./partials/nav') %>

<%- include('./partials/foot') %>