<%- include('./partials/head') %>

<%- include('./partials/zones') %>
    
    <section class="map">
        <img src="assets/img/placeholder-kaart.jpg" alt="">
    </section>

<%- include('./partials/nav') %>

<%- include('./partials/foot') %>