@font-face {
    font-family: "Rajhandi";
    src: url("assets/fonts/Rajdhani-SemiBold.ttf") format("ttf"),
        url("assets/fonts/Rajdhani-SemiBold.woff") format("woff");
        font-weight: 600;
}

@font-face {
    font-family: "Rajhandi";
    src: url("assets/fonts/Rajdhani-Bold.ttf") format("ttf"),
        url("assets/fonts/Rajdhani-Bold.woff") format("woff");
        font-weight: 700;
}

@font-face {
    font-family: "Rajhandi";
    src: url("assets/fonts/Rajdhani-Regular.ttf") format("ttf"),
        url("assets/fonts/Rajdhani-Regular.woff") format("woff");
        font-weight: 400;
}

:root {
    --blue-color: #110f2a;
    --purple-color: #524dd0;
    --green-color: #00ffec;
    --grey-color: #656672;
    --gradient-color: linear-gradient(90deg, #524dd0 0%, #84389e 100%);
    --black-color: #000;
    --white-color: #fff;
    --bg-blue: #d8e9f2;
    --bg-grey: #f6f6fc;
    --border-basic: solid 1px var(--black-color);
    --border-radius: 0.3rem;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: Rajhandi, sans-serif;
    font-size: 1em;
    line-height: 1.4;
    scroll-behavior: smooth;
    color: var(--black-color);
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
  background: var(--purple-color); 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--purple-color); 
}

html {
    background-color: var(--bg-blue);
    overflow: hidden;
}

body {
    background-color: var(--white-color);
    position: absolute;
    width: 80%;
    height: 80%;
    left: 10%;
    top: 10%;
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
}

main {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.bold {
    font-weight: 600;
}

.menu-bar {
    width: 22rem;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    background-color: var(--bg-grey);
    overflow-y: scroll;
    overflow-x: hidden;
}

header {
    height: 7rem;
    width: 22rem;
    background-color: var(--bg-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    border-radius: 1rem 0 0 0;
}

.logo {
    width: 5rem;
    height: auto;
    position: relative;
    z-index: 1;
}

.title-zones {
    font-size: 1.8rem;
    color: #bbbbbb;
    margin-bottom: 1rem;
}

.sz-card {
    width: 20rem;
    height: 10rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    box-shadow: 1px 3px 2px #bbbbbb;
    background-color: var(--white-color);
}

.sz-card img {
    width: 7rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 1rem 0 0 1rem;
}

.card-right-side {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 13rem;
    padding: 0.5rem 0;
}

.availability {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

h2 {
    font-size: 1.2rem;
}

.buttons {
    flex-direction: row;
}

.button-book-now, .button-book-later, .submit-button, .submit-button::before {
    background: var(--gradient-color);
    color: var(--white-color);
    border: none;
    font-weight: 600;
    border-radius: 1rem;
    padding: 0.1rem 0.7rem;
    cursor: pointer;
    text-decoration: none;
}

.button-book-later {
    background: var(--white-color);
    color: var(--purple-color);
    border: solid 2px var(--purple-color);
}


/* Navigatie */

nav {
    position: sticky;
    z-index: 1;
}

.nav-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0.7rem 0.5rem 0.5rem;
    justify-content: space-between;
    background-color: var(--bg-grey);
    height: 100%;
}

.nav-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;

}

/* Map */

.map > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Book */

.book {
    padding: 2rem;
    overflow-y: scroll;
}

h1 {
    font-size: 2rem;
}

fieldset:first-of-type {
    margin-top: 0.5rem;
}

fieldset {
    border: none;
    padding: 0;
    margin: 1.5rem 0 0 0;
    display: flex;
    flex-direction: column;
}

legend {
    padding: 0;
    margin: 0;
    font-size: 1.3rem;
    font-weight: 600;
}

label {
    margin-top: 0.8rem;
    margin-bottom: 0.3rem;
}

label:first-of-type {
    margin-top: 0;
}

select {
    width: 22rem;
    border: var(--border-basic);
    border-radius: var(--border-radius);
    cursor: pointer;
}

input[type=date], [type=time] {
    width: 8rem;
    border: var(--border-basic);
    border-radius: var(--border-radius);
    cursor: pointer;
}

input[type=text], [type=email] {
    padding-left: 0.5rem;
    border: var(--border-basic);
    border-radius: var(--border-radius);
    max-width: 22rem;
    cursor: text;
}

input.invalid, select.invalid {
    border: solid 2px red;
    background-color: rgba(255, 0, 0, 0.2);
}

.form-date, .form-time {
    display: flex;
    flex-direction: row;
    width: 22rem;
    justify-content: space-between;
}

.form-time {
    margin-top: 2rem;
}

.from-till {
    display: flex;
    flex-direction: column;
}

.submit-button {
    position: relative;
    margin-top: 1rem;
    height: calc(4rem - 1.2rem);
    width: 22rem;
    z-index: 1;
}

.submit-button::before {
    position: absolute;
    content: "";
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    background: var(--purple-color);
    transition: opacity 0.3s linear;
}

.submit-button:hover::before {
    opacity: 1;
}


/* Grid */
body {
    display: grid;
    grid-template-columns: 22rem auto;
    grid-template-rows: 7rem auto 4rem;
}

header {
    grid-area: 1 / 1 / 2 / 2 ;
}

nav {
    grid-area: 3 / 1 / 4 / 2 ;
}

.menu-bar {
    grid-area: 2 / 1 / 3 / 2 ;
}

.map, .book {
    grid-area: 1 / 2 / 4 / 3 ;
}